<% provide(:title, "Blog") %>

<% if user_signed_in? %>
  <ul class="navbar">
    <li class="navbar-item">
      <%= link_to "New", new_entry_path %>
    </li>
  </ul>
<% end %>

<ul class="index">
  <% @entries.each do |entry| %>
    <li id="entry_<%= entry.id %>">
      <p>
        <%= entry.created_at.to_date %> --
      </p>
      <h3>
        <%= link_to(entry) do %>
            <%= entry.title %>
        <% end %>
      </h3>
    </li>
  <% end %>
</ul>
