<% provide(:title, "Blog") %>

<% if user_signed_in? %>
  <ul>
    <li>
      <%= link_to "New", new_entry_path %>
    </li>
  </ul>
<% end %>

<ul class="index">
  <% @entries.each do |entry| %>
    <li id="entry_<%= entry.id %>">
      <%= link_to(entry) do %>
        <h3>
          <%= entry.title %>
        </h3>

        <p>
          <%= entry.body[0..199] + "..." %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>
