<% provide(:title, "Blog") %>

<% if user_signed_in? %>
  <p>
    <%= link_to "New", new_entry_path %>
  </p>
<% end %>


<ul class="entries_list">
  <% @entries.each do |entry| %>
    <li id="entry_<%= entry.id %>">
      <%= link_to(entry) do %>
        <p>
          <%= entry.title %>
        </p>

        <p>
          <%= entry.body[0..199] + "..." %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>
