<% provide(:title, @entry.title) %>

<p>
  <%= link_to "Back", entries_path %>
</p>

<% if user_signed_in? %>
  <p>
    <%= link_to "Edit", edit_entry_path(@entry) %>
  </p>

  <p>
    <%= link_to "Delete", entry_path(@entry), :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </p>
<% end %>

<p class="entry-title">
  <%= @entry.title %>
</p>

<p class="entry-item">
  <%= @entry.body %>
</p>

