<% provide(:title, @entry.title) %>

<ul>
  <li>
    <%= link_to "Back", entries_path %>
  </li>

  <% if user_signed_in? %>
    <li>
      | <%= link_to "Edit", edit_entry_path(@entry) %>
    </li>

    <li>
      | <%= link_to "Delete", entry_path(@entry), :method => :delete, :data => { :confirm => "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<p>
  <%= @entry.title %>
</p>

<p>
  <%= simple_format(@entry.body) %>
</p>

