<% provide(:title, "Blog") %>

<% if user_signed_in? %>
  <p>
    <%= link_to "New", new_article_path %>
  </p>
<% end %>


<ul class="articles_list">
  <% @articles.each do |article| %>
    <li article_<%= article.id %>">
      <a href="/articles/<%= article.id %>">
        <p class="article_title"><%= article.name %></p>
        <%= article.body[0..199] %>...
      </a>
    </li>
  <% end %>
</ul>
