<% provide(:title, "Blog") %>

<ul class="articles_list">
  <% @articles.each do |article| %>
    <li id="article_<%= article.id %>">
      <a href="/articles/<%= article.id %>">
        <p class="article_title"><%= article.name %></p>
        <%= article.body[0..199] %>...
      </a>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "New", new_article_path %>
</p>
