<% provide(:title, "Blog") %>

<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li id="article_<%= article.id %>">
      <a href="/articles/<%= article.id %>" class="is_yellow">
        <h3><%= article.name %></h3>
        <%= article.body %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "New", new_article_path %>
</p>
