<!DOCTYPE html>
<html>
  <head>
    <title><%= "Captain Coder | #{yield(:title)}" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="site-top">&nbsp;</div>

    <ul id="site-navbar" class="row">
      <li class="navbar-head" id="site-name">
        <%= link_to "Captain Coder", root_path %>
      </li>

      <li class="navbar-item">
        <%= link_to "Entries", entries_path %>
      </li>

      <% if user_signed_in? %>
        <li class="navbar-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>

    <%= yield %>

    <div id="body-top">&nbsp;</div>
  </body>
</html>
