<!DOCTYPE html>
<html>
  <head>
    <title><%= "Captain Coder | #{yield(:title)}" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="head-top">&nbsp;</div>

    <ul class="head-nav">
      <li class="head-nav-head head-name">
        <%= link_to "Captain Coder", root_path, class: "head-nav-link" %>
      </li>

      <li class="head-nav-item">
        <%= link_to "Entries", entries_path, class: "head-nav-link" %>
      </li>

      <% if user_signed_in? %>
        <li class="head-nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "head-nav-link" %>
        </li>
      <% end %>
    </ul>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>

    <%= yield %>

    <div id="body-top">&nbsp;</div>
  </body>
</html>
