<!DOCTYPE html>
<html>
  <head>
    <title><%= "Captain Coder | #{yield(:title)}" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <ul>
      <li class="navbar_head navbar_item">
        <%= link_to "Captain Coder", root_path %>
      </li>

      <li class="navbar_item">
        <%= link_to "Entries", entries_path %>
      </li>

      <% if user_signed_in? %>
        <li class="navbar_item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notice"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
